{% extends "verify-old-password.html" %}

{% block context %}
{% endblock %}

{% block error_message %}
		   {% if error_message != '' %}
        		<p style="text-align:center; background:rgba(252, 0, 0,0.3); width:100%; color: black; padding: 10px; border: 1px solid red; border-radius: 5px;">{{ error_message }}</p>
    		{% endif %}
{% endblock %}
                
{% block form %}
    <div class="mb-6">
        <label for="new-password" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">New Password</label>
        <input type="password" name="new_password" id="new-password" placeholder="New Password" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
    </div>
    <div class="mb-6">
        <label for="confirm-password" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Confirm Password</label>
        <input type="password" name="confirm_password" id="confirm-password" placeholder="Confirm Password" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
    </div>
    
    <div class="mb-6">
        <button type="submit" value="change_password" class="w-full px-3 py-4 text-white bg-green-600 rounded-md focus:bg-indigo-600 focus:outline-none">Change Password</button>
    </div>
{% endblock %}